body{
  background-color:aqua
}
.container{
 
border:2px solid black;
border-radius: 20px;

box-shadow: 5px 5px 10px 10px gray;
margin: 20px auto;
  background-color: white;
  height: 90vh;
  width:70vh;

}
.searchbox{
  margin-top: 20px;
  border: 2px solid blue;
  width: 90%;
  height: 30px;
  align-items: center;
  border-radius: 10px;
  margin-left: 10px;
  padding: 5px;
  
 
}
.searchinput{
  margin-left: 5px;
  padding: 6px;
  width: 90%;
 outline: none;
 border: none;


}
.sun {
  color: red;
  font-size:100px;
margin: 20px 150px;

  
 
}
.humidity,.windspeed{
  font-size: 50px;
  align-items: center;
  color: darkblue;
  
}
.citydiv{
   text-align: center;
 
  
}
.humiditydiv{
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
.citydiv h2{

  color:orange

}
span{
  color: blue;
}

.searchicon{
 margin-top:5px;
 margin-right: 2px;
 color: blue;
 font-size: large;
 cursor: pointer;
}

.blue{
  color: lightseagreen;
  font-size:100px;
 margin-left: 35%;
  align-items: center;
  margin-top: 20px;
 
}